/* navbar */

.navbar #logo {
  height: 55px;
  border-bottom: 2px solid red;
}

.navbar #logo:hover {
  border-color: blue;
}

.navbar form TextField {
  max-height: 40px;
}

.navbar a:hover {
  color: blue;
}

/* movie search */
.movie {
  margin: 1% 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(202, 207, 245, 0.934), rgba(76, 70, 200, 0.734));
  padding: 3%;
  border-bottom: 5px solid rgba(114, 15, 160, 0.314);
}

.movie #combo-box-demo {
  height: 20px;

}



.container.card IconButton {
  color: red;
}